<!DOCTYPE html>
<html>
  <head>
    <title>CrosswordClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= react_component("ui/Header", { user: current_user }) %>
  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if request.path == '/' %>
      <%= yield %>
    <% else %>
    <div class="background"></div>
    <div class="page-content">
      <%= yield %>
    </div>
  <% end %>
  </body>
</html>
